body {
	height: 100em;
	#width: 50em;
	margin: 100px;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	background-color: #24273a;
	color: #cad3f5;
}

a:link {
    color: #a6da95;
}

a:visited {
    color: #a6da95;
}

table, th, td {
	border: 2px solid;
	border-collapse: collapse;
  }

table {
	width: 1500px;
}

th {
	background-color: #24273a;
	color: peachpuff;
}